body {
  background-color: black;
  position: absolute;
}
 
.contact {
  font-family: "Miriam Libre", sans-serif;
}

.head-line {
  position: relative;
  width: 100%;
}
a {
  text-decoration: none;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: orange;
  cursor: pointer;
}

.main-image {
  margin-top: 4rem;
  width: 70%;
  margin-left: 40%;
}
.nav-bar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  margin: 0 12px 0px 0;
  float: left;
}

.container {
  margin-top: 1rem;
  display: flex;

  position: relative;
  flex-wrap: wrap;
}
.container > div {
  padding: 10px;

  width: 27%;
  margin: 5px 6px 8px 36px;
  text-align: center;
}
.box > img {
  width: 100%;
}
.space-mark{
 font-size: 20px;
  color: orange;

}
.image-display{
  width: 85%;
  height: 89%;
  cursor: pointer;
}

#tpopup{
  display: none;
  position:absolute;
  width: 714px;
  height: 702px;
  background:#fff;
  left:45%;
  top:43%;
  z-index: 1;
  border-radius:5px;
  padding:60px 0;

  margin-left:-320px; /* width/2 + padding-left */
  margin-top:-150px; /* height/2 + padding-top */
  text-align:center;
  box-shadow:0 0 10px 0 #000;
}
#tclose{
  position:absolute;
  background:black;
  color:white;
  right:-15px;
  top:-15px;
  border-radius:50%;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:8px;
  font-weight:bold;
  font-family:'Arial Black', Arial, sans-serif;
  cursor:pointer;
  box-shadow:0 0 10px 0 #000;
}

.down-menu {
  margin: auto;
  width: 95%;
  margin-top: 6rem;
}

.down-menu > span {
  float: right;
}
hr {
  size: 2;
  width: 100%;
  color: "#585858";
}
.logo {
  width: 14%;
}
.sp-rights {
  color: gray;
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .main-image {
    margin-top: 4rem;
    width: 55%;
    margin-left: 23%;
  }
  .nav-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  #tpopup{
    width: 369px;
    height: 302px;
    margin-left: -130px;
    margin-top: -406px;
  }
  .container {
    display: flex;

    position: relative;
    flex-wrap: wrap;
  }
  .space-mark{
    font-size: 13px;
     color: orange;
   
   }
  .container > div {
    padding: 11px;
    width: 39%;
    margin: 3px 6px 7px 32px;
    text-align: center;
  }
  .logo {
    width: 14%;
  }
  .down-menu > span {
    font-size: 7px;
    float: right;
  }
}

@media only screen and (max-width: 600px) {
  .main-image {
    margin-top: 4rem;
    width: 80%;
    margin-left: 9%;
  }
  .space-mark {
    font-size: 13px;
    color: orange;
  }
  #tpopup{
    width: 232px;
    height: 302px;
    margin-left: -95px;
    margin-top: -114px;
  }
  .nav-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .container {
    display: flex;

    position: relative;
    flex-wrap: wrap;
  }
  .container > div {
    padding: 11px;
    width: 38%;
    margin: 1px 1px 8px 28px;;
    text-align: center;
  }
  .logo {
    width: 10%;
  }
  .down-menu > span {
    font-size: 7px;
    float: right;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .main-image {
    margin-top: 4rem;
    width: 55%;
    margin-left: 23%;
  }
  #tpopup{
    width: 572px;
    height: 510px;
    margin-left: -230px;
    margin-top: -161px;;
  }
  a{
    font-size: 20px;
  }
  .nav-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .container {
    margin-top: 1rem;
    display: flex;

    position: relative;
    flex-wrap: wrap;
  }
  .container > div {
    padding: 10px;

    width: 27%;
    margin: 5px 6px 8px 36px;
    text-align: center;
  }
  .logo {
    width: 10%;
  }
  .down-menu > span {
    font-size: 12px;
    float: right;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-image {
    margin-top: 4rem;
    width: 51%;
    margin-left: 24%;
  }
  
  .nav-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #tpopup{
    width: 572px;
    height: 510px;
    margin-left: -230px;
    margin-top: -161px;;
  }
  li {
    margin: 0 12px 0px 0;
    float: left;
  }
  .space-mark{
    font-size: 19px;
     color: orange;
   
   }
  .container {
    margin-top: 1rem;
    display: flex;

    position: relative;
    flex-wrap: wrap;
  }
  .container > div {
    padding: 10px;

    width: 27%;
    margin: 5px 17px 11px 47px;
    text-align: center;
  }
  .box > img {
    width: 100%;
  }

  #tpopup{
    display: none;
    position:absolute;
    width: 714px;
    height: 702px;
    background:#fff;
    left:45%;
    top:43%;
    z-index: 1;
    border-radius:5px;
    padding:60px 0;
  
    margin-left:-320px; /* width/2 + padding-left */
    margin-top:-150px; /* height/2 + padding-top */
    text-align:center;
    box-shadow:0 0 10px 0 #000;
  }
  #tclose{
    position:absolute;
    background:black;
    color:white;
    right:-15px;
    top:-15px;
    border-radius:50%;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:8px;
    font-weight:bold;
    font-family:'Arial Black', Arial, sans-serif;
    cursor:pointer;
    box-shadow:0 0 10px 0 #000;
  }
  .logo {
    width: 10%;
  }
  .down-menu > span {
    font-size: 12px;
    float: right;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-image {
    margin-top: 4rem;
    width: 50%;
    margin-left: 25%;
  }
  .nav-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  a{
      font-size: 20px
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    margin: 0 12px 0px 0;
    float: left;
  }

  .container {
    margin-top: 1rem;
    display: flex;

    position: relative;
    flex-wrap: wrap;
  }
  .container > div {
    padding: 10px;

    width: 27%;
    margin: 5px 18px 11px 52px;
    text-align: center;
  }
  .box > img {
    width: 100%;
  }

  #tpopup{
    display: none;
    position:absolute;
    width: 714px;
    height: 702px;
    background:#fff;
    left:45%;
    top:43%;
    z-index: 1;
    border-radius:5px;
    padding:60px 0;
  
    margin-left:-320px; /* width/2 + padding-left */
    margin-top:-150px; /* height/2 + padding-top */
    text-align:center;
    box-shadow:0 0 10px 0 #000;
  }
  #tclose{
    position:absolute;
    background:black;
    color:white;
    right:-15px;
    top:-15px;
    border-radius:50%;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:8px;
    font-weight:bold;
    font-family:'Arial Black', Arial, sans-serif;
    cursor:pointer;
    box-shadow:0 0 10px 0 #000;
  }
  .logo {
    width: 10%;
  }
  .down-menu > span {
    font-size: 12px;
    float: right;
  }
  .space-mark{
    font-size: 20px;
     color: orange;
   
   }
}



